# prometheus.yml
global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "prometheus"
    basic_auth:
      username: "prometheus"
      password: "password"
        
  - job_name: "poracle_processor"
    static_configs:
      - targets: ["127.0.0.1:4206"]
        labels:
          instance: "poracle-processor"

  - job_name: "poracle_alerter"
    static_configs:
      - targets: ["127.0.0.1:4205"]
        labels:
          instance: "poracle-alerter"